# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
*.db
.pytest_cache/
.coverage
htmlcov/
.env

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
